@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* local font */
/* 
@font-face {
  font-family: "DK Cut Along";
  src: url("/fonts/DKCutAlong/DKCutAlong-Regular.woff2") format("woff2"),
    url("/fonts/DKCutAlong/DKCutAlong-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*/
